@model Info;
@{
    ViewData["Title"] = "Read";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper  col-11">
    <div class="row">
        <div class="col-lg-12" style="padding-left:55px">
            <div style="width:200px; height:auto; margin-bottom: 25px">
                <img src="~/assets/admin/images/faces/@Model.Image" style="width:100%; height:auto" />
            </div>
            <h4> <span style="color:red">Title:</span> @Model.Title</h4>
            <h4> <span style="color:red">Description:</span> @Model.Description</h4>
            <h4> <span style="color:red">Image:</span> @Model.Image</h4>

            <a class="btn btn-info" asp-action="Index" style="margin-top:30px">Go Back</a>
        </div>
    </div>
</div>

